$font-path: '../../fonts/';

$font-family-name-default: 'OpenSans';
$font-family-default: $font-family-name-default, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-huge: 34px;
$font-size-large: 24px;
$font-size-default: 16px;
$font-size-minor: 14px;
$font-size-small: 12px;
